<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
    <h2>Afegeix un nou Pokemon</h2>
    <form action="/pokemons" method="POST">
        <input type="text" name="name" placeholder="Nom" required>
        <input type="text" name="type" placeholder="Tipus" required>
        <input type="number" name="generation" placeholder="Generació" required>
        <button type="submit">Afegir Pokemon</button>
    </form>
</section>
</body>
</html>